version: '3.8'

services:
  server:
    build: ./server
    container_name: server
    ports:
      - "8080:8080"
    networks:
      - minha-rede-customizada

  client:
    build: ./client
    container_name: client
    depends_on:
      - server
    environment:
      - URL=http://server:8080
    networks:
      - minha-rede-customizada

networks:
  minha-rede-customizada:
    driver: bridge